<footer
  class="w-full mt-auto py-4 px-8 bg-zinc-950 flex justify-between items-center border-t border-zinc-900"
>
  <p class="text-[11px] font-medium tracking-widest uppercase text-zinc-500">
    © Vodka Web Admin v2.1.0 • Server Status: <span class="text-green-500">Online</span>
  </p>
  <div class="flex gap-6">
    <a
      class="text-[11px] font-medium tracking-widest uppercase text-zinc-500 hover:text-red-500 transition-colors cursor-pointer"
    >
      Hệ thống
    </a>
    <a
      class="text-[11px] font-medium tracking-widest uppercase text-zinc-500 hover:text-red-500 transition-colors cursor-pointer"
    >
      Trợ giúp
    </a>
  </div>
</footer>
